<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">   
    <title> Login Menu</title>
</head>

<body>
    <header>
        <h1 class="title">Welcome to Scorp</h1>
    </header>
    <main>
        <form action="#">
            <h1 class="form_h1">Login</h1>
            <br><br>
            <div class="login_username">

                <p class="username_p">Username</p>
                <input type="text"  name="value">
            </div>
            <div class="login-password">
                <p class="username_p">Password</p>
                <input type="password" " name="value">
    
            </div>
        <input class= "form_submit" type="submit" value="Login ">
        </form>
        <p class="forgot_password">Forgot Password?</p>
    </main>
    <footer>
        <p class="footer one">MIT Liscense</p>
        <p class="footer two">Associated @Scorp Inc.</p>
    </footer>
</body>

</html>