main {
  .contact_container {
    text-align: left;
    position: absolute;
    z-index: 2;
    top:0%;
    left:5%;
    transform: translateY(50%);
      
      div {
      // background:rgba(0, 0, 0, 0.8);
      // padding: .2em;
      // margin: .5em 0;
      h2 {
        font-size: 1.5rem;
        color: springgreen;
        // font-weight: 400;

        font-family: roboto;
        span {
          color: white;
        }
      }
    }
    .name {
      h2 {
        font-size: 3rem;
        color: #fff;

      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .contact_container {
      div {
        // margin: 0.8em 0;
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    height: 50vh;
    .contact_container {
        transform: translateY(30%);
        div {
        // background: rgba(0, 0, 0, 0.952);
        // background: none;
        margin-top: 0.5em;
        padding: .2em;
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}
