main{
    .project-container{
        .title{
            font-family: oxygen;
            font-size: 2rem;
            color: $primary-color;
            background: rgba(0,0,0,0.2);
            padding: .5em;
        }
    }
}