@import "var";
@import "contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  background: linear-gradient(
      270deg,
      rgba(255, 254, 254, 0),
      rgba(0, 0, 0, 0.5)
    ),url("../images/back6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
header {
  position: fixed;
  display: inline;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top:0;
  nav {
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: space-evenly;

    div {
      margin-bottom: 1em;

      a {
        text-decoration: none;
        font-family: "MuseoModerno", "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: $text-color;
        transition: all 0.4s ease-in-out;
        outline: none;

        &:hover {
          color: $secondary-color;
        }
      }
      & .visited {
        color: $secondary-color;
        border-bottom: 2px solid $primary-color;
        padding-bottom: -1px;
      }
    }
  }
}

main {
  text-align: center;
  margin-top: 50vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #fff;

    h2 {
      padding: 0;
      margin: 0;
      font-size: 2rem;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .title {
      font-size: 3rem;
      font-family: "oxygen", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      &::after {
        content: "N.S.";
        color: $primary-color;
      }
    }
  }

  .cont {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 0;

    &::after {
      content: " . ";
    }
  }
}

footer {
  width: 100%;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  
  
  .social-icons{
    a{
      font-size: 0.8rem;
      margin: 0 .4em;
      text-decoration: none;
      color: white;
    }
  }
  & .copy {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "MuseoModerno", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
    text-align: end;
  }
}

@media screen and (min-width: 768px) {
 
  body{
    background-position: bottom;
    background-position: bottom 20%;
  }
  
  header {
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 1;
      background: rgba(70, 70, 70, 0.7);
      // overflow: hidden;
    }
    nav {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  main {
    margin: 40vh 0 10vh 0;

    .container {
      h2 {
        font-size: 3rem;
      }
      .title {
        font-size: 5rem;
      }
    }
  }
}
