*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background: gold;
}

body{
    background-color: white;
    max-width:768px;
    margin:0 auto;
    min-height: 100vh;
    box-shadow: 1px 1px 8px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 2px solid  rgba(16, 17, 24,0.5);
}
input[type="Text"],[type="Number"]{
    padding: .5em;
    margin: 0.2em 0;
    font-size: 2rem;
}
input[type="submit"],[type="reset"]{
    padding: .5em;
    margin: 0.2em ;
    font-size: 1.5rem;
    border:0;
    box-shadow: 1px 1px 8px black;
    background-color: rgb(0, 38, 255);
    color: white;
    border-radius: 0.5em;
}
input[type="reset"]:active{
    box-shadow: 1px 1px white;
}
input[type="submit"]:active{
    box-shadow: 1px 1px white;
}
h1{
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
    margin-bottom: .5em;
}
ul{
    padding-left: 2em;
    list-style: decimal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
}
.after{
    font-style: italic;
    color: red;
}
