/* =========GOOGLE FONTS =========*/

/* {font-family: 'Comfortaa', cursive;},{font-family: 'Comfortaa', cursive,{font-family: 'Karla', sans-serif;};} =====>*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@700&family=Karla&display=swap");

/*========@  END IMPORT @======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header {
  /* margin: .5em; */
  padding: 0.5em;
  border-bottom: 2px solid grey;
}
.heading{
    margin: 1em 0;

}
h1 {
  font-family: "Comfortaa", "Segoe UI";
  /* transform: translateX(5%); */
}
.title2{
  font-size: 0;
}
.sub_title {
  font-family: "Comfortaa", cursive;
  font-size: small;
  color: darkorange;
}
input {
  font-size: 4rem;
  
  width: 100%;
  text-align: right;
}
table {
  width: 100%;
  height:100%;
  margin: 0 auto;
}

table,
td {
    text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: .3em;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  border-collapse: collapse;
}
#big_col{
    background: rgba(255, 166, 0, 0.7);
}
#big_col:active{
    background: rgb(200, 200, 200);
}
#big_row{
    background: rgba(255, 166, 0, 0.7);
}
#big_row:active{
    background: rgb(200, 200, 200);
}
td:active{
    background: rgb(200, 200, 200);
}

@media screen and (min-height: 491px){
  input{
    padding-top:3em;
  }
  table,td{
    padding:1em;
  }
}

@media screen and (max-height: 320px),(max-width:240px)
{
  input{
    padding-top: 3em;
    font-size: 1rem;
  }
  .title{
    font-size: 1rem;
  }
  .sub_title{
    font-size:.5em;
  }
}

@media screen and (max-height: 600px),(max-width:360px)
{
  input{
    padding-top: 3em;
    font-size: 2.66rem;
  }
  .title{
    font-size: 1rem;
  }
  .sub_title{
    font-size:.5em;
  }
  table,td
  {
    padding: 1em;
  }
}

@media screen and (min-width: 768px)
{
  body{
    padding-top: 1em;
  }
  .page{
    box-shadow: 1px 1px 8px black;
  }
}
