* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: linear-gradient(270deg, rgb(0, 255, 255), rgb(0, 98, 255));
  overflow: hidden;
}

.back {
  width: 100%;
  height: 50%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, rgb(80, 223, 24), rgb(70, 192, 21));
}

.page {
  width: 100%;
  height: 90vh;
  max-width: 960px;
  /* border: 2px solid red; */
  margin: 50px auto;
  background: #fff;
  box-shadow: 3px 2px 8px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
header {
  background: rgba(255, 249, 192, 0.5);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 2px solid rgba(251, 4, 198, 0.5);
}
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.title {
  color: rgba(255, 0, 51, 0.794);
  font-family: Arial;
  letter-spacing: 0.1em;
}
.sub {
  font-size: 0.8rem;
  letter-spacing: 0.4em;
  transform: translateX(10px);
  color: darkcyan;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  margin-bottom: 0.5em;
  /* background: rgba(251, 4, 198, 0.5); */
}
nav div {
  margin: 0 1em;
}
a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: rgb(38, 10, 116);
  font-size: 1.2rem;
}
.visited {
  border-bottom: 2px solid darkcyan;
}
#search {
  padding: 0.4em 0.8em;

  border-radius: 2em 2em 2em 2em;
}

.mode {
  /* border: 2px solid red; */
  width: 10em;
  display: inline;
}
#slider {
  background: grey;
  margin: auto;
  transform: translateY(1.5em);
  width: 35%;
  height: 1.8em;
  border-radius: 2em;
}
#ball {
  width: 1.8em;
  height: 1.8em;
  background: white;
  box-shadow: 0.1em 0.1em 5px black;
  border-radius: 2em;
}
main{
    display: flex;
    flex-direction: column;
}
.main_title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: crimson;
    color: white;
    box-shadow: 2px;
    margin: 1em 0;
    padding: 1em 0;
}
.main_one{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
    font-weight: 600;
}
ul{
    text-align: center;
    padding: 2em;
    list-style: none;
}
li{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.5em 0;
    padding: 1em 0;
    background-color: crimson;
    color: white;
}

footer{
    width: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom:0;
    text-align: center;
    background: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 10vh;
}
